@model IEnumerable<qqqq.ViewModels.CShoppingCart>

@{
    ViewData["Title"] = "List2";

}
<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-5.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">我的購物車</h1>
    </div>
</div>
<div class="container" id="alert">

</div>
@section scripts{
    <script>
        let payCount=0
        alert();
        function alert() {
            $("#alert").load('@Url.Content("~/shopping/carttable")', function () {
                $(".chk").on("change", function (e) {
                    if (e.target.checked) {
                        payCount += 1
                    }
                    else {
                        payCount-=1
                    }
                    console.log(payCount)
                })
            })

        }
        function ChangeItemCount(cartId, count, isDonate) {
            payCount = 0
            $("#alert").load('@Url.Content("~/shopping/carttable")', { "hidCartId": cartId, "hidCount": count, "hidIsDonate": isDonate }, function () {
                $(".chk").on("change", function (e) {
                    if (e.target.checked) {
                        payCount += 1
                    }
                    else {
                        payCount -= 1
                    }
                    console.log(payCount)
                })
            })
        }
        function pay() {
            if (payCount == 0) {
                Swal.fire({
                    icon: 'error',
                    title: '未選擇商品結帳',
                    text: '請勾選要結帳之商品',
                })
            }
            else {
                $("#payForm").submit();
            }
        }
        $
        function nopay() {
                Swal.fire({
                    icon: 'error',
                    title: '購物車尚無商品',
                    text: '請前往商城選購商品',
                })
        }

        //function payItem(e) {
        //    console.log(this)
        //    if (this.value) {
        //        payCount += 1
        //    }
        //    else {
        //        payCount-=1
        //    }
        //    console.log(payCount)
        //}

    </script>


}



