@model IEnumerable<qqqq.ViewModels.CShoppingCart>

@{
    ViewData["Title"] = "List2";

}
<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-5.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">我的購物車</h1>
    </div>
</div>
<div class="container" id="alert">
  
</div>
@section scripts{
    <script>
        alert();
        function alert() {
            $("#alert").load('@Url.Content("~/shopping/carttable")', {  })
        }
        function ChangeItemCount(cartId, count, isDonate) {
            //$('#hidCartId').val(cartId);
            //$('#hidCount').val(count);
            //$('#hidIsDonate').val(isDonate);
            //$("#cartView").submit()
            $("#alert").load('@Url.Content("~/shopping/carttable")', { "hidCartId": cartId, "hidCount": count,"hidIsDonate":isDonate})
        }


    </script>


}



