@model prjHomeLess.ViewModel.CPet

@{
    ViewData["Title"] = "Create";
    Layout = "_BackLayout";

}
@section Styles{
    <style>
    #input{
        border:solid antiquewhite 2px;
        border-radius:20px;
        color:black;
        font-weight:400;
        background-color:antiquewhite;
    }
    label {
        color: black;
        font-weight: 900;
    }
    }
    </style>

    <h1 style="font-weight: 900; text-align:center; margin-top: 30px; margin-bottom: 10px">浪浪新增</h1>
    <div style="text-align:right; margin-right:10px; text-decoration:none">
        <a asp-action="petList" class="fa-solid fa-right-from-bracket" style="color: chocolate;"> 返回</a>
    </div>
    <hr />
    <div class="row" style="padding-bottom:90px; display:flex;justify-content:center;align-items:center">
        <div class="col-md-4">
            <form asp-action="Create">
                <div id="input" asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="ProductId" class="control-label"></label>
                    <input  id="input" asp-for="ProductId" class="form-control" />
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="CategoryName" class="control-label"></label>
                    </i>
                    <select  id="input" asp-for="CategoryName" class="form-control">
                        <option></option>
                        <option>貓</option>
                        <option>狗</option>
                    </select>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="SubCategoryName" class="control-label"></label>
                    </i>
                    <select  id="input" asp-for="SubCategoryName" class="form-control">
                        <option></option>
                        <option>米克斯狗</option>
                        <option>哈士奇</option>
                        <option>拉不拉多</option>
                    </select>
                    <span asp-validation-for="SubCategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="ProductName" class="control-label"></label>
                    </i>
                    <input  id="input" asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="Description" class="control-label"></label>
                    </i>
                    <textarea  id="input" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="Continued" class="control-label"></label>
                    </i>
                    @*<input asp-for="Continued" class="form-control" id="check" hidden/>
            <br />*@
                    @*<input type="checkbox" id="test" />*@
                <div id="input">
                    <br />
                    <h6> <input id="input" type="radio" />可供領養   <input type="radio" />暫無法領養</h6>
                    <span asp-validation-for="Continued" class="text-danger"></span>
                    <br />
                </div>
                </div>
                <div class="form-group" style="text-align:right">
                    <i class="fa-solid fa-floppy-disk">
                        <input id="input" type="submit" value="新增" />
                    </i>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @*<script>
                let flag = true;
                $("#test").change(() => {
                    if (flag) {
                        flag = !flag;
                        $("#check").val("true")
                    }
                    else {
                        flag = !flag;
                        $("#check").val("false")
                    }


                })
            </script>*@



    }
