

<h3 class="h5 mb-4 text-center">訂單總覽</h3>
<div class="table-wrap">
    <table class="table">
        <thead class="thead-primary">
            <tr>
                <th>訂單編號</th>
                <th>購買品項</th>
                <th>購買金額</th>
                <th>購買日期</th>
                <th>訂單狀態</th>
                <th>&nbsp;</th>

            </tr>
        </thead>
        <tbody>
            <tr class="alert" role="alert">

                <td>
                    1
                </td>
                <td>
                    <div class="email">
                        <span>貓砂鏟 </span>
                        <span>尚有其他3筆資料</span>
                    </div>
                </td>

                <td>$600</td>
                <td>
                    2012/12/12
                </td>

                <td>訂單狀態</td>

                <td>
                    <div class="email">
                        <a href="#" id="viewDoneList">
                            <span aria-hidden="true"><i class="fa-solid fa-list" style="margin-left:40%"></i></span>
                            <span>點擊檢視詳細資料</span>
                        </a>
                    </div>
                </td>



            </tr>


            <!--=========================================================================================-->





        </tbody>
    </table>


</div>

<script> 

       $("#viewDoneList").click((eve) => {
            eve.preventDefault();

            $("#viewChange").empty();
            $.post("@Url.Content("~/MemberArea/detailList")", {}, function (datas) { console.log(datas);$("#viewChange").html(datas); })


        })
</script>