@model Pet.ViewModels.CMemberView

@{
    ViewData["Title"] = "Create";
    Layout = "_BackLayout";
    qqqq.Models.我救浪Context db = new 我救浪Context();
}
@section Styles{
    <style>
    .input{
        border:solid antiquewhite 2px;
        border-radius:20px;
        color:black;
        font-weight:400;
        background-color:antiquewhite;
    }
    label {
        color: black;
        font-weight: 900;
    }
    }
    </style>

    <h1 style="font-weight: 900; text-align:center; margin-top: 30px; margin-bottom: 10px">會員新增</h1>
    <div style="text-align:right; margin-right:10px; text-decoration:none">
        <a asp-action="memList" class="fa-solid fa-right-from-bracket" style="color: chocolate;"> 返回</a>
    </div>
    <hr />
    <div class="row" style="padding-bottom:90px; display:flex;justify-content:center;align-items:center">
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div id="input" asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="MemberID" class="control-label"></label>
                    <input asp-for="MemberID" class="form-control" />
                    <span asp-validation-for="MemberID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="Photo" class="control-label"></label>
                    </i>
                    <input type="file" name="file" class="form-control-file input" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="Name" class="control-label"></label>
                    </i>
                    <input asp-for="Name" class="form-control input" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="GenderType" class="control-label"></label>
                    </i>
                    <select asp-for="HgenderId" class="input">
                        @{
                            var qhg = from gen in db.Hgenders
                                      where gen.GenderType != "不限"
                                      select gen;
                            foreach (Hgender gen in qhg)
                            {
                                <option value="@gen.HgenderId">@gen.GenderType</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="GenderType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="BirthdayDate" class="control-label"></label>
                    </i>
                    <input type="date" asp-for="BirthdayDate" class="form-control input" />
                    <span asp-validation-for="BirthdayDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="MemberPhone" class="control-label"></label>
                    </i>
                    <input asp-for="MemberPhone" class="form-control input" />
                    <span asp-validation-for="MemberPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="Password" class="control-label"></label>
                    </i>
                    <input asp-for="Password" class="form-control input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="CityName" class="control-label"></label>
                    </i>
                    <select asp-for="CityID" class="input">
                        @{
                            var qci = from ci in db.Cities
                                      where ci.CityName != "不限"
                                      select ci;
                            foreach (City ci in qci)
                            {
                                <option value="@ci.CityId">@ci.CityName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="Address" class="control-label"></label>
                    </i>
                    <input asp-for="Address" class="form-control input" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa-solid fa-paw">
                        <label asp-for="Email" class="control-label"></label>
                    </i>
                    <input asp-for="Email" class="form-control input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="text-align:right">
                    <i class="fa-solid fa-floppy-disk">
                        <input type="submit" value="新增" class="input" />
                    </i>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
