<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">領養中心</h1>
    </div>
</div>
<h1>
    符合條件約70%以上
</h1>
<h1>寵物</h1>
<h1 style="color:black">@Html.ActionLink("我要領養","petsAdopt","pets")</h1>
<h1>沒有符合
    儲存清單</h1>
