
@model IEnumerable<qqqq.ViewModels.CProductShow>

@{
    ViewData["Title"] = "petsList";
}
<table class="table ">
    <tbody>
        @foreach (var item in Model)
        {

        <tr class="align-center">

            <td>
                <img src="/Images/@item.Photos.FirstOrDefault()?.PictureName" width="120" height="120" />

            </td>
            <td>
                <h4>名稱: @Html.DisplayFor(modelItem => item.ProductName)</h4>
            </td>
            <td>
                <h5>品種: @Html.DisplayFor(modelItem => item.SubCategoryName)</h5>
            </td>
            <td>
                <h4>簡介:  @Html.DisplayFor(modelItem => item.Description) </h4>
            </td>
            <td>
                <button id="addToList" style=" background: #734226; border: none; border-radius: 10px;">
                    <i class="fa-solid fa-list-alt" style="color:#fff;padding-right:5px;">@Html.ActionLink("詳細資料", "petsDetial", "pets")</i>
                </button>
            </td>
        </tr>

        }
    </tbody>
</table>
