<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">領養中心</h1>
    </div>
</div>
@model Pet.ViewModels.CMemberView

@{
    ViewData["Title"] = "Edit";
}
@section Styles{
    <style>
        #input {
            border: solid antiquewhite 2px;
            border-radius: 20px;
            color: black;
            font-weight: 400;
            background-color: antiquewhite;
        }

        label {
            color: black;
            font-weight: 900;
        }

        #alert1 {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
}
<div>
    <h1 style="font-weight:900; text-align:center;">領養會員資料確認</h1>
</div>
<div style="text-align:right; margin-right:10px; text-decoration:none">
    <a asp-action="memList" style="color:chocolate;" class="fa-solid fa-right-from-bracket"> 返回</a>
</div>
<hr />
<div class="row" style="padding-bottom:90px; display:flex;justify-content:center;align-items:center">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="MemberID" class="control-label"></label>
                <input id="input" asp-for="MemberID" class="form-control" />
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>

            <div @*class="fa-solid fa-paw" *@ class="form-group">
                <i class="fa-solid fa-paw"><label asp-for="MemberPhoto" class="control-label"></label></i>
                <input type="file" id="input" asp-for="MemberPhoto" class="form-control" />
                <span asp-validation-for="MemberPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw"><label asp-for="MemberName" class="control-label"></label></i>
                <input id="input" asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="MemberBirthDate" class="control-label"></label>
                </i>
                <input type="date" id="input" asp-for="MemberBirthDate" class="form-control" />
                <span asp-validation-for="MemberBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="MemberPhone" class="control-label"></label>
                </i>
                <input id="input" asp-for="MemberPhone" class="form-control" />
                <span asp-validation-for="MemberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="MemberPassword" class="control-label"></label>
                </i>
                <input id="input" asp-for="MemberPassword" class="form-control" />
                <span asp-validation-for="MemberPassword" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <i class="fa-solid fa-paw">
                    <label asp-for="MemberCityID" class="control-label"></label>
                </i>
                <input id="input" asp-for="MemberCityID" class="form-control" />
                <span asp-validation-for="MemberCityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="MemberCityName" class="control-label"></label>
                </i>
                <input id="input" asp-for="MemberCityName" class="form-control" />
                <span asp-validation-for="MemberCityName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="MemberAddress" class="control-label"></label>
                </i>
                <input id="input" asp-for="MemberAddress" class="form-control" />
                <span asp-validation-for="MemberAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-paw">
                    <label asp-for="MemberEmail" class="control-label"></label>
                </i>
                <input id="input" asp-for="MemberEmail" class="form-control" />
                <span asp-validation-for="MemberEmail" class="text-danger"></span>
            </div>

            <div class="form-group m-1" id="alert1">
                <button type="button" class="btn btn-success m-2" data-dismiss="modal" onclick="alertlist()">修改後送出</button>
                <button type="button" class="btn btn-primary" onclick="alertlist()">直接送出</button>
            </div>
        </form>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
@section Scripts {
    <script>
        function alertlist() {
            Swal.fire(
                '成功',
                '您已送出條件',
                'success'
            )
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
