<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style="background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-1.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">寵物詳細資料</h1>
    </div>
</div>


<div class="container-xxl py-6" style="padding-top:0px;">
    <div class="container">

        <div class="row g-0 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <!--<p class="text-center mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>-->
                <form style="margin-top:50px;">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating" style="float:left;">
                                <img src="~/img/pets/pet1.jpg" />
                            </div>
                            <div class="form-floating" style="width:800px;left:20%">
                                <h2>姓名:小菊</h2>
                                <h3>品種:橘貓</h3>
                                <h4>個性:<br>熱善好施,勤檢持家</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="訊息" id="message1" style="height: 100px" readonly>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="訊息" id="message2" style="height: 100px" readonly>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</textarea>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">我要評價</button>
                            <button class="btn btn-success rounded-pill py-3 px-5" type="submit">評估領養</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>