<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style="background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-6.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">最新消息</h1>
    </div>
</div>
@section Styles{
    <style>
        td>a:link {
            color: black;
        }
        td>a:visited {
            color: blue;
        }
        td>a:hover {
            color: #EAA636;
        }
        td {
            font-size: 25px;
        }

        th {
            font-size: 30px;
            text-align:center;
        }
        .imgdiv {
            transition: transform .2s;
            margin: 0 auto;
            flex: none;
            background-color: transparent;
            overflow: hidden;
        }

            .imgdiv:hover {
                transform: scale(2);
                background-color: transparent;
            }
    </style>
}

<div class="container-xxl py-3">
    <div>資料來源<a href="https://www.tcapo.gov.taipei/Default.aspx" style="color:blue;" target="_blank" rel="noreferrer">台北市動物保護處</a></div>
    <table class="table col-md-12">
        <thead>
            <tr>
                <th scope="col">圖</th>
                <th scope="col" class="col-md-2">發布日期</th>
                <th scope="col" class="col-md-7">標題</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr id="load">
                <td></td>
                <td class="col-md-12" style="display:block; margin:auto;">
                    <img src="@Url.Content("~/img/loading.gif")" />
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Facts End -->
<!-- Team Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-4">為浪浪們一起努力</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="~/img/comp1.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>全國動物收容管理系統</h5>
                            <span>全國</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href="https://asms.coa.gov.tw/Amlapp/App/Default.aspx"><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="~/img/comp2.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>台北市動物保護處</h5>
                            <span>台北市</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href="https://www.tcapo.gov.taipei/"><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="~/img/comp3.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>台中動物保護處</h5>
                            <span>台中</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href="https://www.animal.taichung.gov.tw/1521486/Nodelist"><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="~/img/comp4.jpg" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>台南動物之家</h5>
                            <span>台南</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href="https://ahipo.tainan.gov.tw/Default.aspx"><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
    $(function () {
        let str = "";
        
        $.post('@Url.Content("~/service/getNews")', {}, (result) => {
            result.forEach(item => {
                str += `<tr><td><img src="${item.picture}" height="200" width="160" style="display:block; margin:auto;" class="imgdiv" /></td><td style="text-align:center;">${item.date}</td><td><a href="${item.source}" target="_blank" rel="noreferrer">${item.title}</a></td></tr>`;
            })
            $("load").fadeOut();
            $("#tbody").html(str);
        })
    })
    </script>
}