
@{
    ViewData["Title"] = "MemberDoneListTry";
}
<h3 class="h5 mb-4 text-center">已完成的訂單</h3>
<div class="table-wrap">
    <table class="table">
        <thead class="thead-primary">
            <tr>
                <th>訂單編號</th>
                <th>購買日期</th>
                <th>購買品項</th>

                <th>購買金額</th>

                <th>&nbsp;</th>


            </tr>
        </thead>
        <tbody>
            <tr class="alert" role="alert">

                <td>
                    1
             
                </td>

                <td>
              2012/12/12

                </td>
                <td>
                    <div class="email">
                        <span>貓砂鏟 </span>
                        <span>點擊已檢視詳細資料</span>
                    </div>
                </td>
  
                <td>$600</td>
               

                <td>
                    <span>點擊已檢視詳細資料</span>
                    <button class="close" type="button" style="color:gray;right:20px" id="list" data-toggle="modal" data-target="#myModal">
                        <span aria-hidden="true"><i class="fa-solid fa-list"></i></span>
                    </button>
                </td>
               


            </tr>
            <!--=========================================================================================-->



          

        </tbody>
    </table>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">商品評論</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <textarea placeholder="請在此區 評論商品" maxlength="100"></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="sendee">送出</button>
                </div>

            </div>
        </div>
    </div>
