@model qqqq.ViewModels.CEmp
    <div class="divbody nav-bar-bottom">
        <div class="chatcontainer">
            <!-- chat box -->
            <div class="chat-box">
                <!-- client -->
                <div class="client">
                    <img src="~/img/cat.png" alt="logo" />
                    <div class="client-info">
                        <h5 id="clientName">HeLLo!!@Model.Name</h5>
                        <ul class="ul-client">
                            @{
                                我救浪Context db = new 我救浪Context();
                                var q = db.Employees.ToList();
                                foreach (var e in q)
                                {
                                    if (e.EmpoyeeId != Model.EmpoyeeId)
                                    {
                                        <li clientID="employee/@e.EmpoyeeId">@e.Name</li>
                                    }

                                }
                            }
                        </ul>
                    </div>
                </div>

                <!-- input field section -->
                <div class="chat-input">
                    <input type="text" placeholder="Enter Message" />
                    <button class="send-btn">
                        <img src="~/img/home/send.png" alt="send-btn" />
                    </button>
                </div>

            </div>

            <!-- button -->
            <div class="chat-btn" clientID="">
                <img src="~/img/home/Circle-icons-chat.svg.png" alt="chat box icon btn" />
            </div>
        </div>
    </div>
   