
<!--<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img src="~/img/p首頁/pic1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div>
                            <h3 class="display-1 text-black-50 mb-4 animated slideInDown">歡迎來到浪浪之家</h3>
                            <p class="text-primary text-uppercase fw-bold mb-2">歡迎來到浪浪之家</p>
                            <p class="text-primary text-uppercase fw-bold mb-2">歡迎來到浪浪之家</p>
                            <p class="text-primary text-uppercase fw-bold mb-2">歡迎來到浪浪之家</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>-->
         @*首頁圖*@ 


        <!--<div class="owl-carousel-item position-relative">
            <img src="~/img/home1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">流浪動物們</p>
                            <h1 class="display-1 text-black-50 mb-4 animated slideInDown">正在找一個溫暖的家</h1>
                            <p class=" fs-5 mb-4 pb-3" style="color:#EAA636;">we need your attention</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img src="~/img/home2.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">流浪動物們</p>
                            <h1 class="display-1 text-black-50 mb-4 animated slideInDown">正在找一個溫暖的家</h1>
                            <p class=" fs-5 mb-4 pb-3" style="color:#EAA636;">we need your attention</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
@*=====================*@
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item  active" data-bs-interval="2000">
                <img src="~/img/p首頁/pic1.jpg" class="d-block w-100">
                <div class="carousel-caption d-md-block">
                    <h1 id="titleh1">First slide label</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/img/home1.jpg" class="d-block w-100" >
                <div class="carousel-caption d-md-block">
                    <h1 id="titleh1">First slide label</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/img/home2.jpg" class="d-block w-100" >
                <div class="carousel-caption  d-md-block">
                    <h1 id="titleh1">First slide label</h1>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="bi bi-chevron-left fa-5x " style="color:#EAA636" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="bi bi-chevron-right fa-5x" style="color:#EAA636" aria-hidden="true"></span>
            <span class="visually-hidden ">Next</span>
        </button>
    </div>
@*============================*@
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-solid fa-dog fa-4x text-primary mb-4"></i>
                    <p class="mb-2">正在找家的狗</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">100</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-solid fa-cat fa-4x text-primary mb-4"></i>
                    <!--<i>
                        <img src="~/img/cat.png" style="margin-bottom:20px" />
                    </i>-->
                    <p class="mb-2">正在找家的貓</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">80</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-users fa-4x text-primary mb-4"></i>
                    <p class="mb-2">正在配對的會員</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">35</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-solid fa-house fa-4x text-primary mb-4"></i>
                    <p class="mb-2">每年平均配對</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">135</h1><i class=""></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="~/img/family1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="~/img/family2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">//關於我們</p>
                    <h1 class="display-6 mb-4">文字文字文字文字文字文字文字文字</h1>
                    <p>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>
                    <p>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>文字文字
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>文字文字
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>文字文字
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>文字文字
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="">了解更多</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Product Start -->
<div class="container-xxl bg-light my-6 py-6 pt-0">
    <div class="container">
        <div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 text-light mb-0" href="shopping.html">我救浪<br />嚴選商品</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <div class="d-inline-flex align-items-center text-start">
                        <i class="fa fa-phone-alt fa-4x flex-shrink-0"></i>
                        <div class="ms-4">
                            <p class="fs-5 fw-bold mb-0">連絡電話:</p>
                            <p class="fs-1 fw-bold mb-0">+012 345 6789</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">//關於產品</p>
            <h1 class="display-6 mb-4">文字文字文字文字文字文字文字文字文字文字文字</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">$545</div>
                        <h3 class="mb-3">飼料</h3>
                        <span>【Farmina 法米納】全齡犬 天然無穀糧-羊肉藍莓〈小顆粒〉800g</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/img/food1.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle" href="https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=5597396&str_category_code=4700200129&sourcePageType=4"><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$350</div>
                        <h3 class="mb-3">牽繩</h3>
                        <span>【澳洲 EZYDOG】減少50%拉力 外出不拉傷 零拉力牽繩25(64cm)</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/img/food2.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle" href="https://24h.pchome.com.tw/prod/DEAKVB-A9008UKJ6?fq=/S/DEAKFR"><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$888</div>
                        <h4 class="mb-3">貓抓板</h4>
                        <span>貓家超耐磨貓抓板</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/img/food3.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle" href="https://24h.pchome.com.tw/prod/DEAK8J-A9009O0ST"><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->
<!-- Service Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-primary text-uppercase mb-2">// 我們如何幫助您</p>
                <h1 class="display-6 mb-4">我們提供的服務</h1>
                <p class="mb-5">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>
                <div class="row gy-5 gx-4">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-solid fa-dog text-white"></i>
                            </div>
                            <h5 class="mb-0">文字文字</h5>
                        </div>
                        <span>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-solid fa-cat text-white"></i>
                            </div>
                            <h5 class="mb-0">文字文字</h5>
                        </div>
                        <span>文字文字文字文字文字文字文字文字文字文字</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-users text-white"></i>
                            </div>
                            <h5 class="mb-0">文字文字</h5>
                        </div>
                        <span>文字文字文字文字文字文字文字文字文字文字</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-solid fa-house text-white"></i>
                            </div>
                            <h5 class="mb-0">文字文字</h5>
                        </div>
                        <span>文字文字文字文字文字文字文字文字文字文字</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="~/img/ser1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="~/img/ser2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
