

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~css_Q/fonts/icomoon/style.css">


    <link rel="stylesheet" href="~/css_Q/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css_Q/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css_Q/css/style.css">

    <title>Login #9</title>
</head>
<body>

    <div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-5.jpg) center center no-repeat; background-size: cover;">
        <div class="container text-center pt-5 pb-3">
            <h1 class="display-4 text-white animated slideInDown mb-3">會員登入</h1>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 order-md-2">
                  <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div> -->
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                    <h3>立刻登入 <strong>我救浪</strong></h3>
                                    <p class="mb-4">登入會於後即可進行結帳及領養手續</p>
                                </div>
                                <form action="~/Home/Login" method="post">
                                    <div class="form-group first">
                                        <label for="txtAccount">Email</label>
                                        <input type="text" class="form-control" id="txtAccount" name="txtAccount">

                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="txtPassword">Password</label>
                                        <input type="password" class="form-control" id="txtPassword" name="txtPassword">

                                    </div>

                                    <div class="d-flex mb-5 align-items-center">

                                        <span class="caption" style="font-size:90%">  @Html.ActionLink("創建帳號", "Register") </span>


                                        @*@Html.ActionLink("忘記密碼", "forgetPwd")*@
                                        <span class="ml-auto"><a href="#" id="forget" class="forgot-pass" data-toggle="modal" data-target="#exampleModal">忘記密碼</a></span>
                                    </div>

                                    <input type="submit" value="登入" class="btn btn-pill text-white btn-block btn-primary">

                                    <span class="d-block text-center my-4 text-muted"> or sign in with</span>

                                    <div class="social-login text-center">
                                        <a href="https://zh-tw.facebook.com/">
                                            <img src="~/img/home/icons8-facebook-48.png" />
                                        </a>
                                        @*<a href="#" class="facebook">
                                                <span class="icon-facebook mr-3"></span>
                                            </a>*@
                                        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiemgtSGFudCJ9%22%7D">
                                            <img src="~/img/home/icons8-twitter-circled-48.png" />

                                        </a>
                                        @*<a href="#" class="twitter">
                                                <span class="icon-twitter mr-3"></span>
                                            </a>*@
                                        <a href="https://myaccount.google.com/?hl=zh_TW&pli=1">
                                            <img src="~/img/home/icons8-google-48.png" />

                                        </a>
                                        <!--<a href="#" class="google">
                                            <span class="icon-google mr-3"></span>
                                        </a>-->
                                    </div>
                                   
                                    <button id="52" class="btn btn-light">王元元</button>
                                    <button id="login" class="btn btn-light">陳方方</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">請輸入您已註冊過的電子郵件</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                電子郵件 : <input type="email" id="fMail"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="test" hidden>Close</button>
                    <button type="button" class="btn btn-primary" id="sub">送出驗證</button>
                    <button type="button" id="demoMail"  class="btn btn-secondary">Demo</button>
                </div>
            </div>
        </div>
    </div>



    <script src="~/css_Q/js/jquery-3.3.1.min.js"></script>
    <script src="~/css_Q/js/popper.min.js"></script>
    <script src="~/css_Q/js/bootstrap.min.js"></script>
    <script src="~/css_Q/js/main.js"></script>
</body>
</html>
@section Scripts{
    <script>
        $("#demoMail").click((e) => { $("#fMail").val("billsagi0001@gmail.com")})
        $("#chal").click((e) => {
            e.preventDefault();
            $("#txtAccount").val("billsagi0001@gmail.com");

        })
        $("#52").click((e) => {
            e.preventDefault();
            $("#txtAccount").val("054054@gmail.com");
            $("#txtPassword").val("054054054");

        })
        $("#login").click((e) => {
            e.preventDefault();
            $("#txtAccount").val("billsagi0001@gmail.com");
            $("#txtPassword").val("Zxc12345678");

        })

        $("#sub").click(() => {
            $.post('@Url.Content("~/Home/sendMail")', { email: $("#fMail").val() }, (result) => {
                if (result == "") {
                    alert("用戶不存在。")
                } else {
                    $("#test").trigger('click')
                }
            });
        })

    </script>


}