@{
    Layout = "_BackLayout";
}

<link href="~/enterpage/css/anime.css" rel="stylesheet" />
<link href="~/css/BK_style.css" rel="stylesheet" />
<body>
        <div class="words" style="align-items: center; justify-content: center;border:10px double #EAA636;overflow:hidden;width:80vw;height:100%;">
            <iframe title="我救浪 - 浪浪及產品分析" style="width: 100%; height: 100% "  src="https://app.powerbi.com/view?r=eyJrIjoiYmZjZmNjMDctYTUxZC00ZGMxLWIzNTYtNDNjZWU2ZTQzYzM2IiwidCI6IjFhMmU4ZGIyLWYxMTYtNDE4Yi04YWJiLWY5NzgxNjIzZDRiMSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
</body>


