@{
    Layout = "_BackLayout";
}

<link href="~/enterpage/css/anime.css" rel="stylesheet" />
<link href="~/css/BK_style.css" rel="stylesheet" />
<body>
        <div class="words" style="align-items: center; justify-content: center;">
            <iframe title="我救浪 - 浪浪及產品分析" width="1300" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYmZjZmNjMDctYTUxZC00ZGMxLWIzNTYtNDNjZWU2ZTQzYzM2IiwidCI6IjFhMmU4ZGIyLWYxMTYtNDE4Yi04YWJiLWY5NzgxNjIzZDRiMSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
</body>


