@{
    Layout = "_BackLayout";
}
<link href="~/enterpage/css/anime.css" rel="stylesheet" />
<body>
    <div class="contanier-grid" style="display: grid; align-items: center; justify-content: center">
        <div class="pics" style="align-items: center; justify-content: center">
            <img class="dog flipL" src="~/enterpage/images/anime/77logodog.png" />
            <img class="cat flipR" src="~/enterpage/images/anime/77logocat.png" />
        </div>
        <div class="words" style="align-items: center; justify-content: center">
            <img class="word" src="~/enterpage/images/logoPage/系統.png" />
        </div>
    </div>
</body>


