<div class="container-fluid  py-6 wow fadeIn" data-wow-delay="0.1s" style=" margin-bottom: 6rem; background:linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url(../img/head-4.jpg) center center no-repeat; background-size: cover;">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">推薦</h1>

    </div>
</div>


<!-- About End -->
<!-- Team Start -->
<div style="display: flex; flex: none; width: 50%; align-items: center; padding-left: 50px;" id="formSearch;">
    <h5>項目:</h5>
    <select id="storeCate" class="btn btn-primary ml-2" aria-label=".form-select example" name="storecategoryid">
        <option value="none">請選擇選項</option>
        <option value="none">餐廳</option>
        <option value="none">寵物用品美容</option>
        <option value="none">動物醫院</option>
    </select>
    <h5>地區:</h5>
    <select id="storeArea" class="btn btn-primary ml-2" aria-label=".form-select example" name="storeAreaId">
        <option value="none">請選擇選項</option>
        <option value="none">北</option>
        <option value="none">中</option>
        <option value="none">南</option>
    </select>
</div>
<div class="container-xxl">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-4">為您推薦</h1>
        </div>
        <div class="row g-3" style="display:flex;">
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="width:33%;flex:none;">
                <div class="team-item text-center rounded overflow-hidden">
                    <div style="z-index:20;">
                        <iframe src="https://www.secondfloorcafe.com/" style="width:100%;height:200px;"></iframe>
                    </div>
                    <div class="team-text" style="z-index:99;">
                        <div class="team-title">
                            <h5>Second Floor Cafe 貳樓餐飲</h5>
                            <span>台北市大安區</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href="@Url.Content("https://www.secondfloorcafe.com/")"><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="width:33%;flex:none;">
                <div>
                    <p>
                        生活就像一杯茶、一杯咖啡、一杯濃純的酒；我們啜飲，然後品嚐，度過每一天。
                        在這裡，陽光充沛熱鬧非凡; 成穩寧靜溫柔有趣，等你們來探索。
                    </p>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="width:33%;flex:none;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28920.791560824204!2d121.550105!3d25.030716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf7849092e7b31480!2z6LKz5qiT6aSQ5buzIOaVpuWNl-W6lw!5e0!3m2!1szh-TW!2stw!4v1659512150546!5m2!1szh-TW!2stw" style="border: 0; height: 200px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</div>