@model IEnumerable<qqqq.Models.Order>


<h3 class="h5 mb-4 text-center">已認養寵物</h3>
<div class="table-wrap">
    <table class="table">
        <thead class="thead-primary">
            <tr>
                <th>序</th>
                <th>照片</th>
                <th>寵物編號</th>
                @*<th>&nbsp;</th>*@
                <th>性別</th>
                <th>結紮</th>
                <th>認養狀態</th>
                <th>日期</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="alert" role="alert">

                <td>
                    1
                    @*<div class="img" style="        background-image: url(~/images/bg_1.jpg);"></div>*@
                </td>

                <td>
                    <img src="~/css_Q/Images/bg_1.jpg" style="width:60px;height:60px;" />

                </td>
                <td>
                    123456
                </td>

                <td>公</td>
                <td class="quantity">
                    已結紮
                </td>
                <td>認養成功</td>

                <td>
                    2011/11/11
                    </td>
                <td>
                    <div class="email">
                        <a href="#" id="viewDoneList" data-toggle="modal" data-target="#myModal">
                            <span aria-hidden="true"><i class="fa-solid fa-list" style="margin-left:40%"></i></span>
                            <span>寵物細節描述</span>
                        </a>
                    </div>
             
                </td>


            </tr>
      

        </tbody>
    </table>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">寵物細節描述</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ">
                    <p style="text-align:left">寵物編號:123123</p>
                    <p style="text-align:left">寵物顏色:123123</p>
                    <p style="text-align:left">寵物年花費:123123</p>
                    <p style="text-align:left">寵物:很乖巧不會亂叫不會咬人很好動重點會在尿布墊上小號與大號</p>
                    <p style="text-align:left">寵物編號:123123</p>
                    <p style="text-align:left">寵物編號:123123</p>
                   
                    @*<ul style="list-style:none; display:block" >
            編號:
            <li>Coffee</li>
            顏色:
            <li>Tea</li>
            描述:
            <li>很乖巧不會亂叫不會咬人很好動重點會在尿布墊上小號與大號</li>
        </ul>*@
                </div>





       

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">關閉</button>
                </div>

            </div>
        </div>
    </div>

</div>
<button id="btn1">try1</button>
<button id="btn2">try2</button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
 
</script>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
