@{ 
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/enterpage/css/anime.css" rel="stylesheet" />
    <link href="~/enterpage/css/logoPage.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        * {
       margin:0;
       padding:0;
       overflow:hidden;

        }
        body{
            width:100%;
            height:100vh;
            background-color:#dedede;
    
            align-items:center;
            justify-content:center;
        }
        .div1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .dog {
/*            flex:none;
*/            /*width: 500px;
            height: 300px;*/
            position: absolute;
/*            width: 3000px;
            opacity: 0.3;*/
            top: 0;
            bottom: -2000px;
            left: -2000px;
            right: auto;
            margin-left:auto;
            margin-right:auto;
            
        }

        .cat {
/*            flex: none;
*/            /*width: 300px;
            height: 300px;*/
            position: absolute;
/*            width: 3000px;
*/            /*opacity: 0.3;*/
            top: -5000px;
            bottom: 0;
            left: auto;
/*            right: -5000px;
*/            margin-left: auto;
            margin-right: auto;
        }

        .bird {
/*            flex: none;
*/            position: absolute;
/*            width: 300px;
            height:300px;*/
/*            width: 3000px;
            opacity: 0.3;*/
            top: 5000px;
            bottom: 0;
            left: auto;
/*            right: -5000px;
*/            margin-left: auto;
            margin-right: auto;
        }
        @@media (max-width: 5000px) {

            .dog {
                width: 500px;
                height: 500px;
                flex: 0 0 auto;
            }
            .cat {
                width: 500px;
                height:500px;
                flex: 0 0 auto;
            }
            .bird {
                width: 500px;
                height: 500px;
                flex: 0 0 auto;
            }
    
}
        @@media (max-width: 700px) {

            .dog {
                width: 300px;
                height: 300px;
                flex: 0 0 auto;
            }

            .cat {
                width: 300px;
                height: 300px;
                flex: 0 0 auto;
            }

            .bird {
                width: 300px;
                height: 300px;
                flex: 0 0 auto;
            }
        }
        @@media (max-width: 900px) {

            .dog {
                width: 550px;
                height: 550px;
                flex: 0 0 auto;
            }

            .cat {
                width: 550px;
                height: 550px;
                flex: 0 0 auto;
            }

            .bird {
                width: 550px;
                height: 550px;
                flex: 0 0 auto;
            }
        }
/*        .logo {
            flex: none;
            position: absolute;
            width: 800px;
            height: 800px;
        }*/

/*        .divimg {
            display: inline-block;
            justify-content: center;
            align-content: center;
            width: 67vw;
            top: 50vh;
            left: 33vw;
            float: left;
        }*/

/*        .typ {
            top: 180px;
            top: auto;
            left: auto;
            text-align: center;
        }

        .typping {
            font-size: 80px;
            text-align: center;
            color: black;
            left: 0px;
        }*/
    </style>
    <title></title>
</head>
<body>
    <div class="div1">
            <img class="dog" id="dog1" src="~/img/home/newlogod.png" onClick="window.location.href=('enterpage.html');" />
            <img class="cat" id="cat2" src="~/img/home/newlogoc.png" onClick="window.location.href=('enterPage.html');" />
            <img class="bird" id="bird3" src="~/img/home/newlogob.png" onClick="window.location.href=('enterPage.html');" />
            @*<img class="logo" id="logo4" src="~/img/home/newlogobak.png" onClick="window.location.href=('enterPage.html');" />*@
    </div>

            <!--<div class="divimg">
            <img class="word" id="wordi" src="images/logoPage/77logoi.png" />
            <img class="word" id="wordsave" src="images/logoPage/77save.png" />
            <img class="word" id="wordwave" src="images/logoPage/77wave.png" />
        </div>
        <div class="typ">
            <h1 class="typping">ANIMAL SHELTER</h1>
        </div>-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"></script>

        <script>
            //飛圖
            $(document).ready(function () {
                $("#dog1").animate({
                    "top": "20%",
                    "left": "33%",
                    //width: "800px",
                    //height: "800px",
                    opacity: 1  
                }, 500);
                $("#cat2").animate({
                    "top": "20%",
                    "left": "33%",
                    //width: "800px",
                    //height: "800px",
                    opacity: 1
                }, 1000);
                $("#bird3").animate({
                    "top": "20%",
                    "left": "33%",
                    //width: "800px",
                    //height: "800px",
                    opacity: 1
                }, 1500);
                //$("#logo4").animate({
                //    "top": "10%",
                //    "left": "30%",
                //    width: "800px",
                //    height: "790px",
                //    opacity: 1
                //}, 2000);
            });

            ////打字javascript
            //const doc = document.querySelector('h1')
            //let len = doc.textContent.length, s = doc.style
            //s.width = len + 'ch'
            //s.animationTimingFunction = 'steps(' + len + ')'


            ////我救浪
            //$(document).ready(function () {
            //    $("#wordi").delay(300).fadeIn(800),
            //        $("#wordsave").delay(1000).fadeIn(800),
            //        $("#wordwave").delay(1500).fadeIn(800)

            //});
            ////定時轉跳進入頁面
            setTimeout(function () {
                /*location.href = "/homepage/homepage";*/
                location.href="@Url.Content("~/homepage/homepage")"
            }, 2000)
        </script>
</body>

</html>